<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ONMi</h1>
</body>
</html>

 <main class="tracklist-container">
        <table class="tracklist-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>JUDUL</th>
                    <th style="text-align: right;"><i class="bi bi-clock"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="track-number">1</td>
                    <td class="track-title"><strong>Rich Man</strong><span>aespa</span></td>
                    <td class="track-duration">3:17</td>
                </tr>
                <tr>
                    <td class="track-number">2</td>
                    <td class="track-title"><strong>Drift</strong><span>aespa</span></td>
                    <td class="track-duration">2:57</td>
                </tr>
                <tr>
                    <td class="track-number">3</td>
                    <td class="track-title"><strong>Bubble</strong><span>aespa</span></td>
                    <td class="track-duration">2:30</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">5</td>
                    <td class="track-title"><strong>Angel #48</strong><span>aespa</span></td>
                    <td class="track-duration">3:15</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                 <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                 <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                 <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                 <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">5</td>
                    <td class="track-title"><strong>Angel #48</strong><span>aespa</span></td>
                    <td class="track-duration">3:15</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                  <tr>
                    <td class="track-number">5</td>
                    <td class="track-title"><strong>Angel #45</strong><span>aespa</span></td>
                    <td class="track-duration">3:15</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>
                <tr>
                    <td class="track-number">4</td>
                    <td class="track-title"><strong>Count On Me</strong><span>aespa</span></td>
                    <td class="track-duration">3:33</td>
                </tr>

                <tr>
                    <td class="track-number">5</td>
                    <td class="track-title"><strong>Angel #45</strong><span>aespa</span></td>
                    <td class="track-duration">3:15</td>
                </tr>
                <tr>
                    <td class="track-number">6</td>
                    <td class="track-title"><strong>To The Girls</strong><span>aespa</span></td>
                    <td class="track-duration">3:34</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>