<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dirty Work - The Single Album | MYKROS</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/style/album.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <style>
      .album-header-container {
        background: linear-gradient(0deg, #000 0%, #f00202 100%);
        padding-top: 50px;
        padding-bottom: 80px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-black sticky-top shadow-sm">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold ms-3" href="diskografi.html">
          <i class="bi bi-arrow-left me-2"></i> KEMBALI
        </a>
        <span class="navbar-brand fw-bold mx-auto">MYKROS</span>
      </div>
    </nav>

    <div class="album-header-container">
      <header class="album-header">
        <img
          src="../asset/dirty work.jpg"
          alt="Dirty Work Cover"
          class="album-cover"
        />

        <div class="album-info-detail">
          <h5>SINGLE ALBUM</h5>
          <h1>Dirty Work</h1>
          <div class="album-meta">
            <p>aespa • 2025 • 4 lagu, 12 min 10 sec</p>
          </div>
        </div>
      </header>
    </div>

    <main class="tracklist-container">
      <table class="tracklist-table">
        <thead>
          <tr>
            <th>#</th>
            <th>JUDUL</th>
            <th style="text-align: right"><i class="bi bi-clock"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="track-number">1</td>
            <td class="track-title">
              <strong>Dirty Work</strong><span>aespa</span>
            </td>
            <td class="track-duration">3:04</td>
          </tr>
          <tr>
            <td class="track-number">2</td>
            <td class="track-title">
              <strong>Dirty Work (Feat. Flo Milli)</strong
              ><span>aespa, Flo Milli</span>
            </td>
            <td class="track-duration">3:09</td>
          </tr>
          <tr>
            <td class="track-number">3</td>
            <td class="track-title">
              <strong>Dirty Work (English Ver.)</strong><span>aespa</span>
            </td>
            <td class="track-duration">3:04</td>
          </tr>
          <tr>
            <td class="track-number">4</td>
            <td class="track-title">
              <strong>Dirty Work (Inst.)</strong><span>aespa</span>
            </td>
            <td class="track-duration">2:53</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
